<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luxtonefirst">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TuyaSmartApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Luxtone">
        <activity android:name=".LightDetailActivity"></activity>

        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="87jp8fpnj3hxufqgqjxe" />
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="mkkenq5x3xg7spkdfvjd88fh73r7nffy" />

        <activity android:name=".DeviceControl" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>